.showcase {
    margin: 0;
    padding: 20px;
}

.worklist {
    padding: 20px;
}

.projects {
    margin: 0;
    padding: 20px;
}

.carousel {
    width: 80%;
    padding-bottom: 25px;
    margin: auto;
    position: relative;
}

.carousel-indicators {
    position: absolute;
    padding-top: 20px;
    bottom: 0;
    width: 100%;
}

.carousel-indicators button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin: 0 5px;
}

.carousel-image {
    width: 600px;
    display: block;
    border-radius: 5px;
}

.carousel-item {
    display: none;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    margin: 20px;
    padding: 5px;
    border-radius: 2px;
}

.carousel-item.active {
    display: inline-block;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: 100%;
    color: white;
    text-align: left;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    text-shadow: 2px 2px 5px black;
}

@media only screen and (max-width: 800px) {
    .carousel-image {
        width: 300px;
    }

    .carousel-caption {
        font-size: 12px;
    }
}