.hover-image {
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin: 20px;
}

.hover-image__image {
    display: block;
}

.hover-image__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
    overflow: hidden;
    height: 0;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    font-size: 24px;
}

.hover-image:hover .hover-image__overlay,
.hover-image__overlay:hover {
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}