.work {
    display: inline-block;  
    width: 35%;
    text-align: left;
    background-color: #264027;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.work__title {
    margin: 5px;
}

.work__job {
    margin: 0 5px;
    font-style: italic;
    font-weight: 300;
}

.work__desc {
    margin: 0 5px 5px 5px;
}

@media only screen and (max-width: 800px) {
    .work {
        width: 70%;
        font-size: 14px;
    }
}